{{define "secured"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{.Meta.Title}}</title>
        <meta name="keywords" content="{{.Meta.Keywords}}">
        <meta name="description" content="{{.Meta.Description}}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/tpl/asset/css/main.css?17.4.4">
        <link rel="stylesheet" type="text/css" href="/tpl/asset/css/pg.season.css?17.4.4">
        <style type="text/css">
            body {
                margin: 0;
                background-color: #000;
            }
            .pgs-player {
                display: block;
                background: #000;
                border: none;
                height: 100%;
                width: 100%;
                margin: 0em;
                padding: 1em;
            }
            .pgs-player-block {
                background-image: none;
            }
        </style>
    </head>
    <body>
        <div>
            <span class="wrapper" style="display: none;"></span>
            <div class="pgs-player" data-id-season="{{.Meta.ID}}" data-id-serial="{{.Meta.Serial}}">
                <script type="text/javascript">
                    var mark = {
                        'href': '',
                        'trans': ''
                    }
                </script>
                <ul class="pgs-mark_line" data-player="marks" data-info="count">
                    <li class="pgs-mark_line-cur"></li>
                    <li class="pgs-mark_line-switch act" data-click="playerSwich"><span class="html svico-html5">HTML5</span><span class="flash svico-flash">Flash</span></li>
                </ul>
                <script type="text/javascript">
                    var data4play = {
                        'secureMark': '{{.User.SecureMark}}',
                        'time': new Date().getTime()
                    }
                </script>
                <div id="player_wrap" data-player="wrap">
                    <div data-player="inside" class="pgs-player-inside">
                        <div class="svload"></div>
                    </div>
                    <div id="errorPlayer" class="pgs-player-block error">Ошибка при загрузке плеера, попробуйте перезагрузить страницу</div>
                </div>
                <div class="seasons" style="display: none; color: #fff;">
                    Список сезонов:
                    <ul class="seasons_list"></ul>
                </div>
            </div>
        </div>
        {{template "metrika"}}
        <script src="/tpl/asset/vendor/jquery.min.js"></script>
        <script src="/tpl/asset/vendor/js.cookie.min.js"></script>
        <script src="/tpl/asset/vendor/jquery.tooltipster.min.js"></script>
        <script src="/tpl/asset/js/main.min.js?17.4.4"></script>
        <script src="/tpl/asset/vendor/swfobject.min.js"></script>
        <script src="/tpl/asset/js/pg.marks.min.js?17.4.4"></script>
        <script src="/tpl/asset/js/pg.player.min.js?17.4.4"></script>
        <script>
            $(function() {
                String.prototype.format = function () {
                    var args = [].slice.call(arguments);
                    return this.replace(/(\{\d+\})/g, function (a){
                        return args[+(a.substr(1,a.length-2))||0];
                    });
                };
                $.getJSON("/api/all_seasons", {url: window.location.pathname})
                    .done(function(data) {
                        if (data["seasons"].length <= 1) {
                            return;
                        }
                        data["seasons"].forEach(function(season) {
                            $(".seasons_list").append('<li><a href="{0}">{1}</a></li>'.format(season.link, season.title));
                        });
                        $(".seasons").show();
                    });
                // $.getJSON("/api/all_series", {season_id: "{{.Meta.ID}}", serial_id: "{{.Meta.Serial}}"});
            });
        </script>
    </body>
</html>
{{end}}
