{{define "standard"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{.Meta.Title}}</title>
        <meta name="keywords" content="{{.Meta.Keywords}}">
        <meta name="description" content="{{.Meta.Description}}">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style type="text/css">
            body {
                margin: 0;
                background-color: #000;
            }
            iframe {
                display: block;
                background: #000;
                border: none;
                height: 98vh;
                width: 100vw;
            }
            .info {
                text-align: center;
                background-color: #FFF;
                color: #000;
                width: 100%;
                padding: 4px;
            }
        </style>
    </head>
    <body>
        <div class="info">
            Не работает? Попробуйте <a href="/">другой способ</a>.
        </div>
        <iframe src="http://datalock.ru/player/{{.Meta.ID}}" allowfullscreen></iframe>
        {{template "metrika"}}
    </body>
</html>
{{end}}
